################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Accounting/.vs/Accounting
/Accounting/Accounting/bin
/Accounting/Accounting/obj
