################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Accounting/.vs/Accounting
/Accounting/Accounting/bin/Debug/netcoreapp3.1
/Accounting/Accounting/obj
